/* Header */
.books-cover {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
}

.headBM {
  padding: 1.5rem;
}

/* Info */
.cover_info {
  position: relative;
}

.info-title {
  font-size: 5rem;
}

.headBM_title {
  font-size: 3.5rem;
}

@media screen and (min-width: 600px) {
  .info-title {
    font-size: 7rem;
  }

  .headBM_title {
    font-size: 5rem;
  }
}

.info-descri,
.headBM_info {
  margin: 1.2rem 0 1rem;
}

.headBM_info {
  max-width: 450px;
}

.info-icons {
  display: flex;
  gap: 1rem;
  margin: 0 0 2rem;
}

.info-icons>* {
  width: 2.4rem;
}

/* Buttons */
.cover_favorites-btn,
.headBM_btn-home {
  background-color: var(--black);
  outline: 2px solid var(--black);
  color: var(--beige);
  padding-left: .6rem;
  display: inline-flex;
  align-items: center;
  gap: .6rem;
  box-shadow: 5px 5px 0px 1px var(--turquoise);
  transition: 200ms linear;
}

.headBM_btn-home {
  box-shadow: 5px 5px 0px 1px var(--yellow);
}

.save-icon,
.home-icon {
  background-color: var(--beige);
  color: var(--black);
  width: 2.3rem;
  transition: 200ms linear;
}

.cover_favorites-btn:hover .save-icon {
  background-color: var(--turquoise);
}

.headBM_btn-home:hover .home-icon {
  background-color: var(--yellow);
}

.cover_favorites-btn:hover,
.headBM_btn-home:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 0px 0px 0px 0px;
}

.headBM-container {
  display: flex;
  justify-content: space-between;
}

.headBM_img {
  width: 260px;
  margin: 0 1rem -3rem 0;
}

@media screen and (max-width: 650px) {
  .headBM-container {
    flex-direction: column;
  }

  .headBM_img {
    align-self: center;
    margin: 0 0 -4rem 0;
  }
}

/* Books cover*/
.cover_media {
  position: relative;
  align-self: center;
}

.media-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.media-sticker {
  background-color: var(--yellow);
  padding: .4rem;
  transform: rotate(5deg);
  position: absolute;
  right: 50px;
  top: 30px;
  z-index: 10;
  box-shadow: 4px 4px 0 0 var(--black);
}

.media-sticker>h2 {
  line-height: 1.2rem;
}

/* List books */
.img_cover {
  position: relative;
  border-radius: 3px;
}

.img_cover:first-child,
.img_cover:nth-child(3) {
  max-height: 165px;
  object-fit: cover;
  box-shadow: 0px 10px 12px -8px #151518c9;
  z-index: 3;
}

.img_cover:first-child {
  left: 50px;
}

.img_cover:nth-child(2) {
  min-width: 140px;
  max-width: 150px;
  box-shadow: 0px 12px 20px -12px #000000b7;
  z-index: 5;
}

.img_cover:nth-child(3) {
  right: 50px;
}